body{
background-color:#E1D7CD;
 
 


}
.full-page{
    background-color: rgb(185, 151, 116);
    margin-bottom: 1000px;

}
h1{
    position: relative;
    display: inline-block;
    display: flex;
   justify-content: center;
    margin-top: 50px;
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  size: 200px;
}


h2{
    position: relative;
    display: inline-block;
    display: flex;
  justify-content: center;
    text-align: center;
    size: 50px;
    font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 1px;
}

h3{
  position: relative;
    display: inline-block;
    display: flex;
   justify-content: center;
    margin-top: 10px;
  font-family: "Quintessential", serif;
  font-weight: 550;
  font-style: normal;
  size: 200px;
}




 .container{
  display:flex;
  align-items:flex-start;
  gap: 70px;
margin-top: 50px;
  gap: 50px;
    width: 300px;
    height: 600px;
    position:absolute;
 }
 .about-me{
  display: flex;
  margin-top: 50PX;

}